In [1]:
import pandas as pd
import math
import numpy as np

## Cálculo distacias: YourHome - YourHospital
### ¡ Vamos a ver cuánto de podrías ahorrar evitando ir a por una receta médica al Hospital!

* Calculamos la distacias entre el hostpiral y a tu casa

In [2]:
centros_medicos_clean = pd.read_csv("../data/centros_medicos_clean.csv")
centros_medicos_clean.head()

,Unnamed: 0,NOMBRE,DIRECCION,DISTRITO,COD_POSTAL,LATITUD,LONGITUD,TIPO
0,0,Centro Concertado de Atención a las Adicciones...,CALLE SANTA HORTENSIA 1,CHAMARTIN,28002,40.446053,-3.670277,CentrosAsistenciaDrogodependientes
1,1,Centro Concertado de Atención a las Adicciones...,AVENIDA PORTUGAL 0,LATINA,28011,40.416331,-3.723991,CentrosAsistenciaDrogodependientes
2,2,Centro de Atención a las Adicciones (CAD) de A...,PASEO CHOPERA 12,ARGANZUELA,28045,40.393057,-3.698067,CentrosAsistenciaDrogodependientes
3,3,Centro de Atención a las Adicciones (CAD) de H...,CALLE MINAYA 7,HORTALEZA,28043,40.468289,-3.636150,CentrosAsistenciaDrogodependientes
4,4,Centro de Atención a las Adicciones (CAD) de L...,CALLE CAMARENA 10,LATINA,28047,40.395971,-3.756272,CentrosAsistenciaDrogodependientes

In [3]:
def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))

In [4]:
# row = (centros_medicos_clean.LATITUD, centros_medicos_clean.LONGITUD)

In [5]:
home = (40.4969434, -3.712521117)

In [6]:
for index, row in centros_medicos_clean.iterrows(): 
    row['LATITUD']
    row['LONGITUD']

In [7]:
centros_medicos_clean['DISTANCIA'] = 0

In [8]:
centros_medicos_clean['DISTANCIA'] = centros_medicos_clean.apply(lambda row: haversine(home, (row['LATITUD'], row['LONGITUD'])), axis=1)

In [9]:
centros_medicos_clean.head()

,Unnamed: 0,NOMBRE,DIRECCION,DISTRITO,COD_POSTAL,LATITUD,LONGITUD,TIPO,DISTANCIA
0,0,Centro Concertado de Atención a las Adicciones...,CALLE SANTA HORTENSIA 1,CHAMARTIN,28002,40.446053,-3.670277,CentrosAsistenciaDrogodependientes,6694.461065
1,1,Centro Concertado de Atención a las Adicciones...,AVENIDA PORTUGAL 0,LATINA,28011,40.416331,-3.723991,CentrosAsistenciaDrogodependientes,9018.664294
2,2,Centro de Atención a las Adicciones (CAD) de A...,PASEO CHOPERA 12,ARGANZUELA,28045,40.393057,-3.698067,CentrosAsistenciaDrogodependientes,11619.444588
3,3,Centro de Atención a las Adicciones (CAD) de H...,CALLE MINAYA 7,HORTALEZA,28043,40.468289,-3.636150,CentrosAsistenciaDrogodependientes,7204.260853
4,4,Centro de Atención a las Adicciones (CAD) de L...,CALLE CAMARENA 10,LATINA,28047,40.395971,-3.756272,CentrosAsistenciaDrogodependientes,11825.625101

In [10]:
centros_medicos_clean.loc[centros_medicos_clean.DISTANCIA.argmin(), "NOMBRE"]

'Clínica CEMTRO'

In [11]:
centros_medicos_clean.loc[centros_medicos_clean.DISTANCIA.argmin(), "DIRECCION"]

'AVENIDA VENTISQUERO DE LA CONDESA 42'

In [12]:
# LA DISTANCIA ESTÁ CALCULADA EN MENTROS

centros_medicos_clean.loc[centros_medicos_clean.DISTANCIA.argmin(), "DISTANCIA"]

526.4759679848166

* FUNCIONA!!!!! ES LA CLINICA MAS CERCANA DE MI CASA!!!1 QUE ILUSION POR DIOS!!!

###  Funciones para aplicar en visual

In [13]:
def haversine(coord1, coord2):
    
    '''
    Funcion en donde al meterle dos parametros de coordenadas te va a devolver la distancia que hay entre ambos puntos
    '''
    
    R = 6372800  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))

In [35]:
def distancia_entre_hospital_casa(lat, lon):
    '''
    Esta funcion lo que coge es la latitud y longitud de la ubicacion de tu casa y te evuelve el nombre del centro medico 
    mas cercano a tu casa
    '''
    
    for index, row in centros_medicos_clean.iterrows(): 
        row['LATITUD']
        row['LONGITUD']
    
    centros_medicos_clean['DISTANCIA'] = 0 
    
    centros_medicos_clean['DISTANCIA'] = centros_medicos_clean.apply(lambda row: haversine((lat, lon), (row['LATITUD'], row['LONGITUD'])), axis=1)
    
    return (centros_medicos_clean.loc[centros_medicos_clean.DISTANCIA.argmin(), "NOMBRE"], math.trunc(centros_medicos_clean.loc[centros_medicos_clean.DISTANCIA.argmin(), "DISTANCIA"]))

In [15]:
distancia_entre_hospital_casa(40.4969434, -3.712521117)

('Clínica CEMTRO', 526)

In [16]:
# PRUEBA CON LA DISTANCIAS QUE ME HA DADO GEOCODE (no es tan excata porque las coordenadas tienen menos decimales, salen redondeadas por defecto)
# Pero acierta!

distancia_entre_hospital_casa(40.4969, -3.71037)

('Clínica CEMTRO', 664)

In [17]:
# SEGUNA PRUEBA CON LAS COORDENADAS QUE ME DEVUELVE LA API
distancia_entre_hospital_casa(40.4687, -3.68553)

('Centro de Salud Núñez Morgado', 42)

## Cálculo distacias: Home-Pharmacies
### ¡Vamos a encontrar las farmacias más cercana a tu casa!

In [18]:
def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))

In [19]:
farmacias_clean = pd.read_csv("../data/farmacias_clean.csv")
farmacias_clean.head()

,Unnamed: 0,titular_nombre,direccion,municipio_nombre,latitud,longitud
0,0,Amaya Corral Palomino,PLAZA del Dos de Mayo 6,Madrid,40.427326,-3.704186
1,1,Montserrat Gimenez Mestre,CALLE de Ríos Rosas 50,Madrid,40.441590,-3.696234
2,2,Justo Aquilino Corral Aragon,CALLE de Argensola 12,Madrid,40.425284,-3.694781
3,3,Irene Arroita Del Campo,CALLE de Alcalá 98,Madrid,40.424996,-3.674844
4,4,Esther Sansi Ponsico,PLAZA de Salesas 7,Madrid,40.423736,-3.694447

In [20]:
home = (40.4969434, -3.712521117)

* La columna de DISTACIA será la distancia que hay entre tus casa y todas las farmacias de Madrid
* Luego encontraremos la farmacia más cercana a tu casa

In [21]:
farmacias_clean['DISTANCIA'] = 0

In [22]:
farmacias_clean.head()

,Unnamed: 0,titular_nombre,direccion,municipio_nombre,latitud,longitud,DISTANCIA
0,0,Amaya Corral Palomino,PLAZA del Dos de Mayo 6,Madrid,40.427326,-3.704186,0
1,1,Montserrat Gimenez Mestre,CALLE de Ríos Rosas 50,Madrid,40.441590,-3.696234,0
2,2,Justo Aquilino Corral Aragon,CALLE de Argensola 12,Madrid,40.425284,-3.694781,0
3,3,Irene Arroita Del Campo,CALLE de Alcalá 98,Madrid,40.424996,-3.674844,0
4,4,Esther Sansi Ponsico,PLAZA de Salesas 7,Madrid,40.423736,-3.694447,0

In [23]:
for index, row in farmacias_clean.iterrows(): 
    row['latitud']
    row['longitud']

In [24]:
farmacias_clean['DISTANCIA'] = farmacias_clean.apply(lambda row: haversine(home, (row['latitud'], row['longitud'])), axis=1)

In [25]:
farmacias_clean.head()

,Unnamed: 0,titular_nombre,direccion,municipio_nombre,latitud,longitud,DISTANCIA
0,0,Amaya Corral Palomino,PLAZA del Dos de Mayo 6,Madrid,40.427326,-3.704186,7775.372770
1,1,Montserrat Gimenez Mestre,CALLE de Ríos Rosas 50,Madrid,40.441590,-3.696234,6309.090059
2,2,Justo Aquilino Corral Aragon,CALLE de Argensola 12,Madrid,40.425284,-3.694781,8110.610217
3,3,Irene Arroita Del Campo,CALLE de Alcalá 98,Madrid,40.424996,-3.674844,8614.230254
4,4,Esther Sansi Ponsico,PLAZA de Salesas 7,Madrid,40.423736,-3.694447,8285.002988

In [26]:
farmacias_clean.loc[farmacias_clean.DISTANCIA.argmin(), "DISTANCIA"]

397.0193409840688

In [27]:
farmacias_clean.loc[farmacias_clean.DISTANCIA.argmin(), "direccion"]

'CALLE del Cerro del Castañar 74'

In [28]:
farmacias_clean.loc[farmacias_clean.DISTANCIA.argmin(), "titular_nombre"]

'Alicia Hernanz Rincon'

### Funciones para calcular la distacias de tu casa a la farmcaia más cercana (el recorrido que va a hacer el repartidor por ti)

In [29]:
def distancia_entre_farmacia_casa(lat, lon):
    for index, row in farmacias_clean.iterrows(): 
        row['latitud']
        row['longitud']
    
    farmacias_clean['DISTANCIA'] = 0 
    
    farmacias_clean['DISTANCIA'] = farmacias_clean.apply(lambda row: haversine(home, (row['latitud'], row['longitud'])), axis=1)
    
    return (farmacias_clean.loc[farmacias_clean.DISTANCIA.argmin(), "titular_nombre"], farmacias_clean.loc[farmacias_clean.DISTANCIA.argmin(), "DISTANCIA"])

In [34]:
distancia_entre_farmacia_casa(40.4969434, -3.712521117)

('Alicia Hernanz Rincon', 397.0193409840688)

In [33]:
# ACIERTAAAA!! SON LAS COORDENADAS QUE ME DA MI API AL METER YO MI CALLE
distancia_entre_farmacia_casa(40.4969, -3.71037)

('Alicia Hernanz Rincon', 397.0193409840688)

In [32]:
distancia_entre_farmacia_casa(40.4687, -3.68553)

('Alicia Hernanz Rincon', 397.0193409840688)