In [65]:
import pandas as pd
import math
import numpy as np

## Cálculo distacias: YourHome - YourHospital
### ¡ Vamos a ver cuánto de podrías ahorrar evitando ir a por una receta médica al Hospital!

* Calculamos la distacias entre el hostpiral y a tu casa

In [2]:
centros_medicos_clean = pd.read_csv("../data/centros_medicos_clean.csv")
centros_medicos_clean.head()

,Unnamed: 0,NOMBRE,DIRECCION,DISTRITO,COD_POSTAL,LATITUD,LONGITUD,TIPO
0,0,Centro Concertado de Atención a las Adicciones...,CALLE SANTA HORTENSIA 1,CHAMARTIN,28002,40.446053,-3.670277,CentrosAsistenciaDrogodependientes
1,1,Centro Concertado de Atención a las Adicciones...,AVENIDA PORTUGAL 0,LATINA,28011,40.416331,-3.723991,CentrosAsistenciaDrogodependientes
2,2,Centro de Atención a las Adicciones (CAD) de A...,PASEO CHOPERA 12,ARGANZUELA,28045,40.393057,-3.698067,CentrosAsistenciaDrogodependientes
3,3,Centro de Atención a las Adicciones (CAD) de H...,CALLE MINAYA 7,HORTALEZA,28043,40.468289,-3.636150,CentrosAsistenciaDrogodependientes
4,4,Centro de Atención a las Adicciones (CAD) de L...,CALLE CAMARENA 10,LATINA,28047,40.395971,-3.756272,CentrosAsistenciaDrogodependientes

In [28]:
def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))

In [52]:
# row = (centros_medicos_clean.LATITUD, centros_medicos_clean.LONGITUD)

In [43]:
home = (40.4969434, -3.7125211,17)

In [44]:
centros_medicos_clean['DISTANCIA'] = 0

In [56]:
# centros_medicos_clean['DISTANCIA'] = centros_medicos_clean.apply(lambda row: haversine(my_loc, row), axis = 1)

In [ ]:
df1 = pd.DataFrame({'lat_long': [(25.99550273, 179.18526021), (76.24387873, -34.21956936), (-51.43773064, -113.93795667)]})
        df2 = pd.DataFrame({'lat_long': [(22.89956242, 107.04009984), (-80.25375578, -92.05425401), (-0.81621289, -147.26962084), (0,0)]})

 # method 1: iterate through rows
        for i in df1['lat_long']:
            for j in df2['lat_long']:
                print(haversine(i,j))

In [ ]:
'''
def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    centros_medicos_clean.LATITUD, centros_medicos_clean.LONGITUD = coord1
    farmacias_clean.latitud, farmacias_clean.longitud = coord2
    
    phi1, phi2 = math.radians(centros_medicos_clean.LATITUD), math.radians(farmacias_clean.latitud) 
    dphi       = math.radians(farmacias_clean.latitud - centros_medicos_clean.LATITUD)
    dlambda    = math.radians(farmacias_clean.longitud - centros_medicos_clean.LONGITUD)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))
'''

In [40]:
'''
def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    centros_medicos_clean.LATITUD, centros_medicos_clean.LONGITUD = coord1
    farmacias_clean.latitud, farmacias_clean.longitud = coord2
    
    phi1, phi2 = math.radians(centros_medicos_clean.LATITUD), math.radians(farmacias_clean.latitud) 
    dphi       = math.radians(farmacias_clean.latitud - centros_medicos_clean.LATITUD)
    dlambda    = math.radians(farmacias_clean.longitud - centros_medicos_clean.LONGITUD)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))


# HE PROBADO CON NUMPY EN VEZ DE CON MATH PERO NUMPY NO TIENE EL .atan2 (buscar otra manera)

'''

'\ndef haversine(coord1, coord2):\n    R = 6372800  # Earth radius in meters\n    centros_medicos_clean.LATITUD, centros_medicos_clean.LONGITUD = coord1\n    farmacias_clean.latitud, farmacias_clean.longitud = coord2\n    \n    phi1, phi2 = math.radians(centros_medicos_clean.LATITUD), math.radians(farmacias_clean.latitud) \n    dphi       = math.radians(farmacias_clean.latitud - centros_medicos_clean.LATITUD)\n    dlambda    = math.radians(farmacias_clean.longitud - centros_medicos_clean.LONGITUD)\n    \n    a = math.sin(dphi/2)**2 +         math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2\n    \n    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))\n\n\n# HE PROBADO CON NUMPY EN VEZ DE CON MATH PERO NUMPY NO TIENE EL .atan2 (buscar otra manera)\n\n'

In [35]:
coord1 = centros_medicos_clean.LATITUD, centros_medicos_clean.LONGITUD 
coord2 = farmacias_clean.latitud, farmacias_clean.longitud

In [36]:
haversine(coord1, coord2)

TypeError: cannot convert the series to <class 'float'>

## Cálculo distacias: Home-Pharmacies
### ¡Vamos a encontrar las farmacias más cercana a tu casa!

In [ ]:
def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))

In [55]:
farmacias_clean = pd.read_csv("../data/farmacias_clean.csv")
farmacias_clean.head()

,Unnamed: 0,titular_nombre,direccion,municipio_nombre,latitud,longitud
0,0,Amaya Corral Palomino,PLAZA del Dos de Mayo 6,Madrid,40.427326,-3.704186
1,1,Montserrat Gimenez Mestre,CALLE de Ríos Rosas 50,Madrid,40.441590,-3.696234
2,2,Justo Aquilino Corral Aragon,CALLE de Argensola 12,Madrid,40.425284,-3.694781
3,3,Irene Arroita Del Campo,CALLE de Alcalá 98,Madrid,40.424996,-3.674844
4,4,Esther Sansi Ponsico,PLAZA de Salesas 7,Madrid,40.423736,-3.694447

In [57]:
home = (40.4969434, -3.7125211,17)

* La columna de DISTACIA será la distancia que hay entre tus casa y todas las farmacias de Madrid
* Luego encontraremos la farmacia más cercana a tu casa

In [58]:
farmacias_clean['DISTANCIA'] = 0

In [67]:
farmacias_clean.head()

,Unnamed: 0,titular_nombre,direccion,municipio_nombre,latitud,longitud,DISTANCIA
0,0,Amaya Corral Palomino,PLAZA del Dos de Mayo 6,Madrid,40.427326,-3.704186,0
1,1,Montserrat Gimenez Mestre,CALLE de Ríos Rosas 50,Madrid,40.441590,-3.696234,0
2,2,Justo Aquilino Corral Aragon,CALLE de Argensola 12,Madrid,40.425284,-3.694781,0
3,3,Irene Arroita Del Campo,CALLE de Alcalá 98,Madrid,40.424996,-3.674844,0
4,4,Esther Sansi Ponsico,PLAZA de Salesas 7,Madrid,40.423736,-3.694447,0

In [ ]:
farmacias_clean.iterrows():

In [63]:
farmacias_clean['DISTANCIA'] = farmacias_clean.apply(lambda row: haversine(home, (farmacias_clean.latitud, farmacias_clean.longitud)))

ValueError: too many values to unpack (expected 2)