In [10]:
import pandas as pd
import math

## Calculo distacias entre dos variables

* Calculamos la distacias entre el hostpiral y la farmacia

In [4]:
centros_medicos_clean = pd.read_csv("../data/centros_medicos_clean.csv")
centros_medicos_clean.head()

,Unnamed: 0,NOMBRE,DIRECCION,DISTRITO,COD_POSTAL,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TIPO
0,0,Centro Concertado de Atención a las Adicciones...,CALLE SANTA HORTENSIA 1,CHAMARTIN,28002,443159,4477482,40.446053,-3.670277,CentrosAsistenciaDrogodependientes
1,1,Centro Concertado de Atención a las Adicciones...,AVENIDA PORTUGAL 0,LATINA,28011,438577,4474219,40.416331,-3.723991,CentrosAsistenciaDrogodependientes
2,2,Centro de Atención a las Adicciones (CAD) de A...,PASEO CHOPERA 12,ARGANZUELA,28045,440757,4471619,40.393057,-3.698067,CentrosAsistenciaDrogodependientes
3,3,Centro de Atención a las Adicciones (CAD) de H...,CALLE MINAYA 7,HORTALEZA,28043,446072,4479929,40.468289,-3.636150,CentrosAsistenciaDrogodependientes
4,4,Centro de Atención a las Adicciones (CAD) de L...,CALLE CAMARENA 10,LATINA,28047,435820,4471982,40.395971,-3.756272,CentrosAsistenciaDrogodependientes

In [6]:
farmacias_clean = pd.read_csv("../data/farmacias_clean.csv")
farmacias_clean.head()

,Unnamed: 0,titular_nombre,direccion,municipio_nombre,localizacion_coordenada_x,localizacion_coordenada_y,latitud,longitud
0,0,Amaya Corral Palomino,PLAZA del Dos de Mayo 6,Madrid,440267.0,4475426.0,40.427326,-3.704186
1,1,Montserrat Gimenez Mestre,CALLE de Ríos Rosas 50,Madrid,440954.0,4477004.0,40.441590,-3.696234
2,2,Justo Aquilino Corral Aragon,CALLE de Argensola 12,Madrid,441063.0,4475193.0,40.425284,-3.694781
3,3,Irene Arroita Del Campo,CALLE de Alcalá 98,Madrid,442754.0,4475148.0,40.424996,-3.674844
4,4,Esther Sansi Ponsico,PLAZA de Salesas 7,Madrid,441090.0,4475021.0,40.423736,-3.694447

In [19]:
farmacias_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2888 entries, 0 to 2887
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 2888 non-null   int64
 1   titular_nombre             2888 non-null   object
 2   direccion                  2871 non-null   object
 3   municipio_nombre           2888 non-null   object
 4   localizacion_coordenada_x  2888 non-null   float64
 5   localizacion_coordenada_y  2888 non-null   float64
 6   latitud                    2888 non-null   float64
 7   longitud                   2888 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 180.6+ KB

In [16]:
def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    centros_medicos_clean.LATITUD, centros_medicos_clean.LONGITUD = coord1
    farmacias_clean.latitud, farmacias_clean.longitud = coord2
    
    phi1, phi2 = math.radians(centros_medicos_clean.LATITUD), math.radians(farmacias_clean.latitud) 
    dphi       = math.radians(farmacias_clean.latitud - centros_medicos_clean.LATITUD)
    dlambda    = math.radians(farmacias_clean.longitud - centros_medicos_clean.LONGITUD)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))

In [ ]:
def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))

In [17]:
coord1 = centros_medicos_clean.LATITUD, centros_medicos_clean.LONGITUD 
coord2 = farmacias_clean.latitud, farmacias_clean.longitud

In [18]:
haversine(coord1, coord2)

TypeError: cannot convert the series to <class 'float'>

## Calaculo distacias tres variables

In [ ]:
def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))